.material-card-main {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 1px 1px #C8C9CE;
}
.start-btn {
  background-color: #6255E5;
}
.textColor {
  color: #C8C9CE
}
.detail-container {
  padding-top: 5px;
  width: 100%;
}
.detail-comp {
  background-color: #e3e3e3;;
  border-radius: 8px;
}
.material-table {
  width: 1100px;
}
.item-container {
  background-color: #C8C9CE;
  max-width: 190px;
  color: black;
  border-radius: 18px;
  text-align: left;
  padding: 5px;
}

.ant-progress-bg {
  height: 5px !important;
}
